# get this from grafana Home > Connections > Add new connection > Hosted logs
# https://grafana.com/docs/loki/latest/send-data/docker-driver/configuration/
LOKI_URL="https://123456:password=@xxx.grafana.net/api/prom/push"
