services:
  traefik:
    image: traefik:v2.10
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yaml:/traefik.yaml
      - ./traefik_dynamic.yaml:/traefik_dynamic.yaml
      - ./acme.json:/acme.json # don't forget to create this beforehand and give it chmod 600
      - ./usersfile.txt:/usersfile.txt
    networks:
      - web
    logging:
      driver: loki
      options:
        loki-url: ${LOKI_URL}

networks:
  web:
    external: true
